#root {
  width: 100%; /* O el ancho deseado */
  height: 100vh; /* Altura completa de la ventana */
  background-color: #230B23; /* Color de fondo */
  font-family: 'Arial', sans-serif; /* Fuente de texto predeterminada */
}

/* AQUI el random de vite añadió los etilos del app.jsx que eran del logo y presentaciín de vite */